/*
Integrations API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// TerraformAPIService TerraformAPI service
type TerraformAPIService service

type ApiBusinessNodesV1Request struct {
	ctx        context.Context
	ApiService *TerraformAPIService
	pageSize   *int32
	pageNum    *int32
}

func (r ApiBusinessNodesV1Request) PageSize(pageSize int32) ApiBusinessNodesV1Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiBusinessNodesV1Request) PageNum(pageNum int32) ApiBusinessNodesV1Request {
	r.pageNum = &pageNum
	return r
}

func (r ApiBusinessNodesV1Request) Execute() (*PaginatedResponseSerializerBusinessNodeSerializer, *http.Response, error) {
	return r.ApiService.BusinessNodesV1Execute(r)
}

/*
BusinessNodesV1 List business nodes

Paginated list of a tenant's business nodes, with a vendor-doc fallback for BUSINESS_ENTITY nodes' description/business-models. Mirrors enterprise-api GET /v1/internal/business-nodes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBusinessNodesV1Request
*/
func (a *TerraformAPIService) BusinessNodesV1(ctx context.Context) ApiBusinessNodesV1Request {
	return ApiBusinessNodesV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedResponseSerializerBusinessNodeSerializer
func (a *TerraformAPIService) BusinessNodesV1Execute(r ApiBusinessNodesV1Request) (*PaginatedResponseSerializerBusinessNodeSerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedResponseSerializerBusinessNodeSerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.BusinessNodesV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/classification/v1/business-nodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 1000
		r.pageSize = &defaultValue
	}
	if r.pageNum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_num", r.pageNum, "form", "")
	} else {
		var defaultValue int32 = 1
		r.pageNum = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectVendorConnectionV1Request struct {
	ctx          context.Context
	ApiService   *TerraformAPIService
	vendorKey    string
	connectionId string
}

func (r ApiConnectVendorConnectionV1Request) Execute() (*ConnectResponseSerializer, *http.Response, error) {
	return r.ApiService.ConnectVendorConnectionV1Execute(r)
}

/*
ConnectVendorConnectionV1 Kick off a live connect/test attempt (async; poll GET for the result).

Kicks off a live connect/test attempt for a connection and returns 202 immediately with a
monitor body `{"id", "status": "connecting"}`; the actual vendor-API call (dispatched by
AuthType) runs in the background and updates `auth.status`/`auth.error` on completion. Poll
`GET .../connections/{connection_id}` to observe the result.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiConnectVendorConnectionV1Request
*/
func (a *TerraformAPIService) ConnectVendorConnectionV1(ctx context.Context, vendorKey string, connectionId string) ApiConnectVendorConnectionV1Request {
	return ApiConnectVendorConnectionV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
//
//	@return ConnectResponseSerializer
func (a *TerraformAPIService) ConnectVendorConnectionV1Execute(r ApiConnectVendorConnectionV1Request) (*ConnectResponseSerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectResponseSerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.ConnectVendorConnectionV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateVendorConnectionV1Request struct {
	ctx                     context.Context
	ApiService              *TerraformAPIService
	vendorKey               string
	createConnectionRequest *CreateConnectionRequest
}

func (r ApiCreateVendorConnectionV1Request) CreateConnectionRequest(createConnectionRequest CreateConnectionRequest) ApiCreateVendorConnectionV1Request {
	r.createConnectionRequest = &createConnectionRequest
	return r
}

func (r ApiCreateVendorConnectionV1Request) Execute() (*ConnectionSummarySerializer, *http.Response, error) {
	return r.ApiService.CreateVendorConnectionV1Execute(r)
}

/*
CreateVendorConnectionV1 Create a new connection for a vendor.

Creates a new connection for a vendor. Allocates the next per-vendor connection id
(mirrors mgr's monotonic `vendor_connection_next_id` counter) and seeds the
`vendors.integrations.<id>` sub-doc with `auth: {type: null, status: AUTH_STATUS_NOT_CONNECTED}`.

When the vendor's `status` is `Inactive`, an existing never-configured connection with the
same `connection_name`/`integrationType` is reused (its id is returned) instead of creating a
duplicate. Otherwise the new connection is auto-associated with the tenant's own business
entity (`business_node_ids`) if one exists, and auto-selects `kinds` the vendor only supports
one of, plus `INTEGRATION_KIND_PROPERTY_INSPECTION`/`INTEGRATION_KIND_ASSETS_DISCOVERY` when
the vendor supports them (mirrors mgr's `create_connection`).

Returns 201 with the created connection resource (the sub-doc as stored, including `id`) and
a `Location` header pointing at `GET .../connections/v1/{vendor_key}/{connection_id}`.

See `docs/integration-setup-example.md` for a full worked example (catalog read through
create/validate/save/connect/poll/kind-selection) with real request/response JSON.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@return ApiCreateVendorConnectionV1Request
*/
func (a *TerraformAPIService) CreateVendorConnectionV1(ctx context.Context, vendorKey string) ApiCreateVendorConnectionV1Request {
	return ApiCreateVendorConnectionV1Request{
		ApiService: a,
		ctx:        ctx,
		vendorKey:  vendorKey,
	}
}

// Execute executes the request
//
//	@return ConnectionSummarySerializer
func (a *TerraformAPIService) CreateVendorConnectionV1Execute(r ApiCreateVendorConnectionV1Request) (*ConnectionSummarySerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionSummarySerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.CreateVendorConnectionV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("createConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createConnectionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteVendorConnectionV1Request struct {
	ctx          context.Context
	ApiService   *TerraformAPIService
	vendorKey    string
	connectionId string
}

func (r ApiDeleteVendorConnectionV1Request) Execute() (*http.Response, error) {
	return r.ApiService.DeleteVendorConnectionV1Execute(r)
}

/*
DeleteVendorConnectionV1 Delete a connection (best-effort secret cleanup first).

Deletes a connection. Best-effort deletes its GCP Secret Manager secret first (mirrors
`deleteConnectionSecrets` -- a no-op, not an error, if the connection never had a secret),
then `$unset`s the `vendors.integrations.<id>` sub-doc.

Returns 204 with no body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiDeleteVendorConnectionV1Request
*/
func (a *TerraformAPIService) DeleteVendorConnectionV1(ctx context.Context, vendorKey string, connectionId string) ApiDeleteVendorConnectionV1Request {
	return ApiDeleteVendorConnectionV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
func (a *TerraformAPIService) DeleteVendorConnectionV1Execute(r ApiDeleteVendorConnectionV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.DeleteVendorConnectionV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDisconnectVendorConnectionV1Request struct {
	ctx          context.Context
	ApiService   *TerraformAPIService
	vendorKey    string
	connectionId string
}

func (r ApiDisconnectVendorConnectionV1Request) Execute() (*http.Response, error) {
	return r.ApiService.DisconnectVendorConnectionV1Execute(r)
}

/*
DisconnectVendorConnectionV1 Mark a connection as disconnected.

Marks a connection as disconnected (`auth.status = AUTH_STATUS_NOT_CONNECTED`). Purely a
Mongo write -- no vendor-API call.

Returns 204 with no body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiDisconnectVendorConnectionV1Request
*/
func (a *TerraformAPIService) DisconnectVendorConnectionV1(ctx context.Context, vendorKey string, connectionId string) ApiDisconnectVendorConnectionV1Request {
	return ApiDisconnectVendorConnectionV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
func (a *TerraformAPIService) DisconnectVendorConnectionV1Execute(r ApiDisconnectVendorConnectionV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.DisconnectVendorConnectionV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/disconnect"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetIntegrationCatalogEntryV1Request struct {
	ctx        context.Context
	ApiService *TerraformAPIService
	vendorKey  string
	type_      *string
}

// Integration type name, e.g. VENDOR or INTEGRATION_TYPE_VENDOR.
func (r ApiGetIntegrationCatalogEntryV1Request) Type_(type_ string) ApiGetIntegrationCatalogEntryV1Request {
	r.type_ = &type_
	return r
}

func (r ApiGetIntegrationCatalogEntryV1Request) Execute() (*CatalogEntrySerializer, *http.Response, error) {
	return r.ApiService.GetIntegrationCatalogEntryV1Execute(r)
}

/*
GetIntegrationCatalogEntryV1 Get a single vendor’s catalog entry.

Fetches a single vendor's catalog entry (proto-shaped `IntegrationConfig` JSON, license/
feature-flag filtered exactly like `/vendors` -- see that endpoint's description). 404 when
the vendor key is unknown or doesn't match the `type` filter.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@return ApiGetIntegrationCatalogEntryV1Request
*/
func (a *TerraformAPIService) GetIntegrationCatalogEntryV1(ctx context.Context, vendorKey string) ApiGetIntegrationCatalogEntryV1Request {
	return ApiGetIntegrationCatalogEntryV1Request{
		ApiService: a,
		ctx:        ctx,
		vendorKey:  vendorKey,
	}
}

// Execute executes the request
//
//	@return CatalogEntrySerializer
func (a *TerraformAPIService) GetIntegrationCatalogEntryV1Execute(r ApiGetIntegrationCatalogEntryV1Request) (*CatalogEntrySerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogEntrySerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.GetIntegrationCatalogEntryV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/catalog/v1/vendors/{vendor_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVendorConnectionV1Request struct {
	ctx          context.Context
	ApiService   *TerraformAPIService
	vendorKey    string
	connectionId string
}

func (r ApiGetVendorConnectionV1Request) Execute() (*ConnectionDetailSerializer, *http.Response, error) {
	return r.ApiService.GetVendorConnectionV1Execute(r)
}

/*
GetVendorConnectionV1 Get connection detail, including masked auth configs and kind configs.

Fetches one connection's full detail: the raw connection sub-doc, its auth field
configs (secret-masked per `get_vendor_connection_auth_configs`'s own masking rules --
support users without `relyanceSecretAccess`, or the `hide-integration-secrets` tenant
flag), and its kind field configs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiGetVendorConnectionV1Request
*/
func (a *TerraformAPIService) GetVendorConnectionV1(ctx context.Context, vendorKey string, connectionId string) ApiGetVendorConnectionV1Request {
	return ApiGetVendorConnectionV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
//
//	@return ConnectionDetailSerializer
func (a *TerraformAPIService) GetVendorConnectionV1Execute(r ApiGetVendorConnectionV1Request) (*ConnectionDetailSerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ConnectionDetailSerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.GetVendorConnectionV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListIntegrationCatalogV1Request struct {
	ctx        context.Context
	ApiService *TerraformAPIService
	type_      *string
}

// Integration type name, e.g. VENDOR or INTEGRATION_TYPE_VENDOR.
func (r ApiListIntegrationCatalogV1Request) Type_(type_ string) ApiListIntegrationCatalogV1Request {
	r.type_ = &type_
	return r
}

func (r ApiListIntegrationCatalogV1Request) Execute() ([]CatalogEntrySerializer, *http.Response, error) {
	return r.ApiService.ListIntegrationCatalogV1Execute(r)
}

/*
ListIntegrationCatalogV1 List the vendor integration catalog, license/feature-flag filtered.

Lists the static vendor integration catalog (271 configs), served from the git-authored
corpus (`catalog/data/*.yaml`) and tenant-filtered exactly like the SDK's own
`Integrations().get_config()` did (verified bug-for-bug -- see
`services.catalog.filtering`'s module docstring): a KIND within a vendor that requires a
license/feature-flag the tenant lacks is omitted from that vendor's `kinds`, but the
vendor-level `required_licenses` check (e.g. AI Governance) never omits the whole vendor --
that gate is dead code in the underlying SDK on the live serving path, and this endpoint
intentionally reproduces that, not a stricter (but non-equivalent) reading of it. Optionally
filtered to a single integration type via the `type` query param (e.g. `VENDOR` or
`INTEGRATION_TYPE_VENDOR`).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListIntegrationCatalogV1Request
*/
func (a *TerraformAPIService) ListIntegrationCatalogV1(ctx context.Context) ApiListIntegrationCatalogV1Request {
	return ApiListIntegrationCatalogV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CatalogEntrySerializer
func (a *TerraformAPIService) ListIntegrationCatalogV1Execute(r ApiListIntegrationCatalogV1Request) ([]CatalogEntrySerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CatalogEntrySerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.ListIntegrationCatalogV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/catalog/v1/vendors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListVendorConnectionsV1Request struct {
	ctx        context.Context
	ApiService *TerraformAPIService
	vendorKey  string
}

func (r ApiListVendorConnectionsV1Request) Execute() ([]ConnectionSummarySerializer, *http.Response, error) {
	return r.ApiService.ListVendorConnectionsV1Execute(r)
}

/*
ListVendorConnectionsV1 List a vendor’s connections.

Lists every connection configured for a vendor, from the tenant's `vendors` document
(`vendors.integrations`). Each entry is the raw connection sub-doc (SDK/mgr field
names preserved) plus its `id`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@return ApiListVendorConnectionsV1Request
*/
func (a *TerraformAPIService) ListVendorConnectionsV1(ctx context.Context, vendorKey string) ApiListVendorConnectionsV1Request {
	return ApiListVendorConnectionsV1Request{
		ApiService: a,
		ctx:        ctx,
		vendorKey:  vendorKey,
	}
}

// Execute executes the request
//
//	@return []ConnectionSummarySerializer
func (a *TerraformAPIService) ListVendorConnectionsV1Execute(r ApiListVendorConnectionsV1Request) ([]ConnectionSummarySerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ConnectionSummarySerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.ListVendorConnectionsV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSaveVendorConnectionAuthV1Request struct {
	ctx             context.Context
	ApiService      *TerraformAPIService
	vendorKey       string
	connectionId    string
	authSaveRequest *AuthSaveRequest
}

func (r ApiSaveVendorConnectionAuthV1Request) AuthSaveRequest(authSaveRequest AuthSaveRequest) ApiSaveVendorConnectionAuthV1Request {
	r.authSaveRequest = &authSaveRequest
	return r
}

func (r ApiSaveVendorConnectionAuthV1Request) Execute() (*http.Response, error) {
	return r.ApiService.SaveVendorConnectionAuthV1Execute(r)
}

/*
SaveVendorConnectionAuthV1 Save auth-field values (is_top_level split; secrets to GCP Secret Manager).

Saves auth-field values for a connection. Fields flagged `is_top_level` on the vendor's
auth form are written as flat scalars on the connection sub-doc; every other field is
stored as a GCP Secret Manager secret. No-op when the connection's `runtime_mode` is
`IN_HOST_BYOK` -- BYOK connections never have server-side secrets.

For `IN_HOST`/`IN_HOME` runtime-mode connections, the secret is stored in (and the
`auth.secret_path` built against) the tenant's own GCP project rather than the service's
default project. Every save also sets `auth.updated_at` (epoch seconds); when secret fields
were saved it additionally sets `auth.credentials_fingerprint` -- a SHA-256 digest of the
saved secret fields only, letting a future Terraform provider detect credential drift
without ever reading a secret value back.

Returns 204 with no body (including the BYOK no-op case).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiSaveVendorConnectionAuthV1Request
*/
func (a *TerraformAPIService) SaveVendorConnectionAuthV1(ctx context.Context, vendorKey string, connectionId string) ApiSaveVendorConnectionAuthV1Request {
	return ApiSaveVendorConnectionAuthV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
func (a *TerraformAPIService) SaveVendorConnectionAuthV1Execute(r ApiSaveVendorConnectionAuthV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.SaveVendorConnectionAuthV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/auth"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authSaveRequest == nil {
		return nil, reportError("authSaveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authSaveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSaveVendorConnectionKindV1Request struct {
	ctx             context.Context
	ApiService      *TerraformAPIService
	vendorKey       string
	connectionId    string
	kind            string
	kindSaveRequest *KindSaveRequest
}

func (r ApiSaveVendorConnectionKindV1Request) KindSaveRequest(kindSaveRequest KindSaveRequest) ApiSaveVendorConnectionKindV1Request {
	r.kindSaveRequest = &kindSaveRequest
	return r
}

func (r ApiSaveVendorConnectionKindV1Request) Execute() (*http.Response, error) {
	return r.ApiService.SaveVendorConnectionKindV1Execute(r)
}

/*
SaveVendorConnectionKindV1 Save parameter values for an already-selected kind.

Saves parameter values for one of a connection's already-selected kinds
(`kinds.<kind>.customFields`). The kind must already exist on the connection.

Returns 204 with no body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@param kind
	@return ApiSaveVendorConnectionKindV1Request
*/
func (a *TerraformAPIService) SaveVendorConnectionKindV1(ctx context.Context, vendorKey string, connectionId string, kind string) ApiSaveVendorConnectionKindV1Request {
	return ApiSaveVendorConnectionKindV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
		kind:         kind,
	}
}

// Execute executes the request
func (a *TerraformAPIService) SaveVendorConnectionKindV1Execute(r ApiSaveVendorConnectionKindV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.SaveVendorConnectionKindV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/kinds/{kind}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"kind"+"}", url.PathEscape(parameterValueToString(r.kind, "kind")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kindSaveRequest == nil {
		return nil, reportError("kindSaveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kindSaveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSelectVendorConnectionKindV1Request struct {
	ctx               context.Context
	ApiService        *TerraformAPIService
	vendorKey         string
	connectionId      string
	kind              string
	kindSelectRequest *KindSelectRequest
}

func (r ApiSelectVendorConnectionKindV1Request) KindSelectRequest(kindSelectRequest KindSelectRequest) ApiSelectVendorConnectionKindV1Request {
	r.kindSelectRequest = &kindSelectRequest
	return r
}

func (r ApiSelectVendorConnectionKindV1Request) Execute() (*http.Response, error) {
	return r.ApiService.SelectVendorConnectionKindV1Execute(r)
}

/*
SelectVendorConnectionKindV1 Select or deselect an IntegrationKind on a connection.

Selects or deselects an `IntegrationKind` on a connection (mirrors mgr's `connSetCheckbox`
mutation, which takes the same single `selected: bool` argument). Selecting a kind for the
first time creates its `kinds.<kind>` sub-doc (`{isSelected, customFields: []}`); selecting
one that already exists only flips its `isSelected` flag, leaving any saved `customFields`
in place. `INTEGRATION_KIND_ASSETS_DISCOVERY` is always forced to selected regardless of the
request body -- it's always enabled and hidden from the UI. Once a kind has a `kinds.<kind>`
entry (selected or not), `PUT .../kinds/{kind}` can save parameters for it.

Returns 204 with no body.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@param kind
	@return ApiSelectVendorConnectionKindV1Request
*/
func (a *TerraformAPIService) SelectVendorConnectionKindV1(ctx context.Context, vendorKey string, connectionId string, kind string) ApiSelectVendorConnectionKindV1Request {
	return ApiSelectVendorConnectionKindV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
		kind:         kind,
	}
}

// Execute executes the request
func (a *TerraformAPIService) SelectVendorConnectionKindV1Execute(r ApiSelectVendorConnectionKindV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.SelectVendorConnectionKindV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/kinds/{kind}/selection"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"kind"+"}", url.PathEscape(parameterValueToString(r.kind, "kind")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kindSelectRequest == nil {
		return nil, reportError("kindSelectRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kindSelectRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateVendorConnectionV1Request struct {
	ctx                 context.Context
	ApiService          *TerraformAPIService
	vendorKey           string
	connectionId        string
	scalarUpdateRequest *ScalarUpdateRequest
}

func (r ApiUpdateVendorConnectionV1Request) ScalarUpdateRequest(scalarUpdateRequest ScalarUpdateRequest) ApiUpdateVendorConnectionV1Request {
	r.scalarUpdateRequest = &scalarUpdateRequest
	return r
}

func (r ApiUpdateVendorConnectionV1Request) Execute() (*http.Response, error) {
	return r.ApiService.UpdateVendorConnectionV1Execute(r)
}

/*
UpdateVendorConnectionV1 Update scalar sub-doc fields on a connection.

Updates one or more scalar sub-doc fields on an existing connection
(`refreshFrequency`, `startScanFrom`, `dataStorageLocation`, `businessNodeIds`,
`credentialsExpireAt`, `connectionName`, `relyanceSecretAccess`). Only fields present in
the request body are written, via a dotted-path `$set` -- never a whole-document replace.

When the write includes `refreshFrequency` and/or `startScanFrom`, a best-effort "conductor
poke" is scheduled off the request path afterward (mirrors mgr's
`connSetRefreshFrequency`/`connSetStartScanFrom`) so the scan scheduler picks up the new
cadence without waiting for a restart. The poke never blocks or fails the response --
scheduling or publishing it is not on the request's critical path.

Returns 204 with no body, including when the request body has no recognized fields to write
(a no-op). Poll `GET .../{connection_id}` to observe the updated resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiUpdateVendorConnectionV1Request
*/
func (a *TerraformAPIService) UpdateVendorConnectionV1(ctx context.Context, vendorKey string, connectionId string) ApiUpdateVendorConnectionV1Request {
	return ApiUpdateVendorConnectionV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
func (a *TerraformAPIService) UpdateVendorConnectionV1Execute(r ApiUpdateVendorConnectionV1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.UpdateVendorConnectionV1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scalarUpdateRequest == nil {
		return nil, reportError("scalarUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scalarUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiValidateVendorConnectionAuthV1Request struct {
	ctx                 context.Context
	ApiService          *TerraformAPIService
	vendorKey           string
	connectionId        string
	authValidateRequest *AuthValidateRequest
}

func (r ApiValidateVendorConnectionAuthV1Request) AuthValidateRequest(authValidateRequest AuthValidateRequest) ApiValidateVendorConnectionAuthV1Request {
	r.authValidateRequest = &authValidateRequest
	return r
}

func (r ApiValidateVendorConnectionAuthV1Request) Execute() (*AuthValidateResponseSerializer, *http.Response, error) {
	return r.ApiService.ValidateVendorConnectionAuthV1Execute(r)
}

/*
ValidateVendorConnectionAuthV1 Validate auth-field values without persisting them.

Validates a set of auth-field values against the vendor's auth form without persisting
anything (`Field.fill()` + `validate()`, or `validate_byok()` when the connection's
`runtime_mode` is `IN_HOST_BYOK`, which skips secret-field validation).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@return ApiValidateVendorConnectionAuthV1Request
*/
func (a *TerraformAPIService) ValidateVendorConnectionAuthV1(ctx context.Context, vendorKey string, connectionId string) ApiValidateVendorConnectionAuthV1Request {
	return ApiValidateVendorConnectionAuthV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
	}
}

// Execute executes the request
//
//	@return AuthValidateResponseSerializer
func (a *TerraformAPIService) ValidateVendorConnectionAuthV1Execute(r ApiValidateVendorConnectionAuthV1Request) (*AuthValidateResponseSerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuthValidateResponseSerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.ValidateVendorConnectionAuthV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/auth/validate"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authValidateRequest == nil {
		return localVarReturnValue, nil, reportError("authValidateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authValidateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateVendorConnectionKindV1Request struct {
	ctx                 context.Context
	ApiService          *TerraformAPIService
	vendorKey           string
	connectionId        string
	kind                string
	kindValidateRequest *KindValidateRequest
}

func (r ApiValidateVendorConnectionKindV1Request) KindValidateRequest(kindValidateRequest KindValidateRequest) ApiValidateVendorConnectionKindV1Request {
	r.kindValidateRequest = &kindValidateRequest
	return r
}

func (r ApiValidateVendorConnectionKindV1Request) Execute() (*AuthValidateResponseSerializer, *http.Response, error) {
	return r.ApiService.ValidateVendorConnectionKindV1Execute(r)
}

/*
ValidateVendorConnectionKindV1 Validate kind-parameter values without persisting them.

Validates a set of parameter values against one of the vendor's kind forms
(`Field.fill()` + `validate()` -- kind params have no BYOK branch).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vendorKey
	@param connectionId
	@param kind
	@return ApiValidateVendorConnectionKindV1Request
*/
func (a *TerraformAPIService) ValidateVendorConnectionKindV1(ctx context.Context, vendorKey string, connectionId string, kind string) ApiValidateVendorConnectionKindV1Request {
	return ApiValidateVendorConnectionKindV1Request{
		ApiService:   a,
		ctx:          ctx,
		vendorKey:    vendorKey,
		connectionId: connectionId,
		kind:         kind,
	}
}

// Execute executes the request
//
//	@return AuthValidateResponseSerializer
func (a *TerraformAPIService) ValidateVendorConnectionKindV1Execute(r ApiValidateVendorConnectionKindV1Request) (*AuthValidateResponseSerializer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuthValidateResponseSerializer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerraformAPIService.ValidateVendorConnectionKindV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/integrations/connections/v1/{vendor_key}/{connection_id}/kinds/{kind}/validate"
	localVarPath = strings.Replace(localVarPath, "{"+"vendor_key"+"}", url.PathEscape(parameterValueToString(r.vendorKey, "vendorKey")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_id"+"}", url.PathEscape(parameterValueToString(r.connectionId, "connectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"kind"+"}", url.PathEscape(parameterValueToString(r.kind, "kind")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.kindValidateRequest == nil {
		return localVarReturnValue, nil, reportError("kindValidateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.kindValidateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
